<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      .code {
        display: block;
        padding: 0.5em;
        color: #000;
        background-color: #f8f8ff;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    {{> header}}
    <h3>Your job request is complete</h3>
    <p>Here is a summary of this request:</p>

    <div class='code'>
      <p><strong>User fork</strong>: {{username}}</p>
      <p><strong>WF-RIA branch</strong>: {{wriaBranch}}</p>
      <p><strong>YUI branch</strong>: {{yuiBranch}}</p>
      <p><strong>Elapsed time:</strong> {{elapsedTime}}</p>
    </div>

    <p>You should be able to find the file on the Jenkins server here:</p>
    <div class='code'>{{srcWar}}</div>

    {{#pkgTypeTAR}}
    <p>Download it to your local machine so that you can then upload it to the Build Registrator server (https://wli-svr0148a.wellsfargo.com).</p>
    {{/pkgTypeTAR}}

    {{^pkgTypeTAR}}
    <p>Download it to your local machine so that you can then upload it to the ABC server (https://wfdev01upload.abcv.com/upload/index.php).</p>
    {{/pkgTypeTAR}}

    <p>Because of size constraints on poor Jenkins, the file will be removed in 2 hours... be quick!</p>

    <p>Here is the command line to download it via scp:</p>
    <div class='code'>scp {{jenkinsusername}}@{{jenkinshostname}}:{{srcWar}} {{war}}</div>

    {{> footer}}
  </body>
</html>
