<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <title>{{namespace}} {{className}} Tests</title>
    <script src="../../../../build/yui/yui-min.js"> </script>
</head>
<body class="wf2-skin-nx wf2-skin-nxt wf2-skin-nxs">
  <h1>{{namespace}} {{className}} Tests</h1>
  <div id="logger" class="yui3-skin-sam"></div>

  <div id="example">
    <!-- srcNode for widget, if necessary-->
  </div>

  <script>
    YUI({
      combine: false,
      skin: {
        overrides: {
          'test-console': ['sam'],
          'console': ['sam'],
          'console-filters': ['sam']
        }
      },
      coverage: ['{{moduleName}}'],
      filter: (window.location.search.match(/[?&]filter=([^&]+)/) || [])[1] || 'raw',
      allowRollup: false,
      modules: {
        '{{moduleName}}-tests': {
          fullpath: './js/tests.js',
          // Add any additional requires for module/ testing here.
          requires: ['{{moduleName}}', 'test']
        }
      }
    }).use('{{moduleName}}-tests', 'test-console', 'test', 'module-tests', function(Y) {

      (new Y.Test.Console({
        filters: {
          pass: true
        }
      })).render('#logger');

      Y.Test.Runner.setName('{{moduleName}}');
      Y.Test.Runner.run();
    });
  </script>
</body>
</html>
